---
import Top from "../components/Top.astro";
import Bottom from "../components/Bottom.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" /><link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin
		/><link
			href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap"
			rel="stylesheet"
		/>
		<title>Astro</title>
		<style>
			* {
				font-family: "League Spartan", sans-serif;
			}
		</style>
	</head>
	<body>
		<div class="container my-20 m-auto">
			<Top />
			<Bottom />
		</div>
	</body>
</html>
