---
import BottomCard from "./BottomCard.astro";
---

<div class="container md:grid md:grid-cols-3">
  <BottomCard
    atributes="card w-11/12 m-auto px-10 py-12 rounded-xl flex flex-col gap-4"
    avatar="image-colton.jpg"
    name="Colton Smith"
    content="We needed the same printed design as then one we had ordered a ween prior. Not only did they find the original order, but we also received it in time excellent!"
  />
  <BottomCard
    atributes="card w-11/12 m-auto px-10 py-12 rounded-xl flex flex-col gap-4 md:mt-20"
    avatar="image-irene.jpg"
    name="Irene Roberts"
    content="Customer service is always excellent and very turn around.Completely delighted with the simplicity of the purchase and the speed of delivery."
  />
  <BottomCard
    atributes="card w-11/12 m-auto px-10 py-12 rounded-xl flex flex-col gap-4 md:mt-24"
    avatar="image-anne.jpg"
    name="Anne Wallace"
    content=" Put and order with this company and can only praise them for the very high stardart. Will difinitely use them again and recommend them to everyone! "
  />
</div>
